body {
	font-size: 16px;
	padding: 0 30px;
	font-family: "Aerial", sans-serif;
}

header {
	text-align: center;
	vertical-align: top;
	font-size: 30px;
	margin-top: 20px;
	background-color: rgba(68, 112, 196, 0.7);
  	border: 5px solid #2d508f;
  	color: #32FF00;
}

img {
	margin-left: 400px;
}

main {
}

h1 {
}

h2{
}

h3 {
}

.niz1 {
	text-align: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

ul {
	text-decoration: none;
}

a {
	text-decoration: none;
}

button {
	font-size: 25px;
	margin-top: 5px;
	margin-left: 800px;
	margin-right: 20px;
}

.foto {
	border-radius: 5%;
}

.text {
	padding: 5px;
	margin-left: center;
 	 background-color: #fafaff;
  	border: 1px solid #c6c4f4;
 	 border-radius: 4px;
  	color: #3632ad;
 	font-family: "Courier New", "Courier", monospace;
}

.text1 {
	text-align: center;
}

.text2 {
	padding: 10px;
	margin-left: center;
 	 background-color: #fafaff;
  	border: 1px solid #c6c4f4;
 	 border-radius: 4px;
}

.text3 {
	text-align: center;
}

.text4 {
	margin-left: 600px;
}

.new{
	text-decoration: none;
}

.ogl {
	text-align: center;
}

.niz {
	text-align: center;
}
