h1.new {
	background-image: url("img/https://user-images.githubusercontent.com/62559922/77347800-728b6680-6d49-11ea-8349-8ae47f9a125b.png");
	height: 70px;
}

h1 {
	text-align: center;
	font-size: 30px;
	color: #FF0000;
	text-decoration: none;
	/**/
}

nav {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(68, 112, 196, 0.7);
  border: 5px solid #2d508f;
  color: #FFFFFF;
  font-size: 20px;
}

footer {
	padding: 2px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url("img/bg-page.png");
	border: 3px solid #0800FF;
}

img {
	border: 3px solid #FF0000;
}

img.img {
	margin-left: 10px
}

img.img1 {
	vertical-align: top;
	margin-left: 10px;
}
